<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="miliSegundosdelay" value="10" /> <!--Tiempo delay en la insercion de tickets en base durante la bajada-->
	  <add key="commandTimeOut" value="60000" /> <!--Tiempo de espera en ejecución de insercion de datos en BD-->
	  <add key="AddMiliseconds" value="2" />  <!--Milisegundos que se agregan a la fecha de ultimo ticket bajado para el siquiente request-->
	  <add key="_TimerDelay" value="2500" />  <!--Delay entre ejecución de Bajada y/o Reporte-->
    <add key="_ConexionString" value="server= 172.31.0.7; database= Eventyal; Persist Security Info= true; User ID = sa; Password=;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>